.footer {
    background-color: #20232a;
    padding: 30px 0;
}
.footerContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.firstColumn {
    padding: 0 20px;
    width: 200px;
}
.secondColumn {
    padding: 0 20px;
    width: 200px;
}
.tirdColumn {
    padding: 0 20px;
    width: 200px;
}
.logoFooter {
    max-width: 160px;
}
.logoTxt {
    color: #999;
    padding-top: 15px;
}
.fooerTitle {
    color: #999;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 0.08em;
}
li {
    list-style: none;
    line-height: 2;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
li:hover {
    color: #61dafb;
}
.viewBox {
    color: #999;
}
@media (max-width: 910px) {
    .footerContainer {
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}